mysql_data
redis_data

node_modules
dist
.env*
!.env.example
/mysql_data
/redis_data
/node_modules/.pnpm
/packages/shared-nestjs/node_modules
/packages/shared-constants/node_modules
/packages/shared-types/node_modules
/node_modules/.bin
/node_modules
PR.md
ticketing-simulator-key.pem
이슈.md
backend/.env

[a-zA-Z0-9_-]*.md