# Redis Ticket Configuration
REDIS_TICKET_HOST=localhost
REDIS_TICKET_PORT=6380
REDIS_TICKET_PASSWORD=

# Performance API
PERFORMANCE_API_URL=http://localhost:3002

# Ticketing Cycle
# Setup 단계 (Cron format, 매 5분 주기 1분 전: 4분, 9분, 14분, ...)
SETUP_INTERVAL="0 4/5 * * * *"
# Open 단계 (Cron format, 매 5분 주기 정각: 0분, 5분, 10분, ...)
TICKETING_OPEN_INTERVAL="0 0/5 * * * *"
# Close 단계 (Cron format, 매 5분 주기 3분 후: 3분, 8분, 13분, ...)
TICKETING_CLOSE_INTERVAL="0 3/5 * * * *"